
# ignore .git and .cache folders
.git
.github
.cache
**/.cache
.expo
.vscode
.next
**/.next

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md

# ignore Node
node_modules
**/node_modules

# ignore subprojects
packages/locales
packages/mobile
packages/server