@import '~antd/dist/antd.css';

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    width: 40vw;
    background-color: #fff;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.container-login > h1 {
    color: #203864;
}

@media (max-width: 1200px) {
    .container-login {
        height: 100vh;
        width: 100vw;
    }
}

.form {
    width: 60%;
}
