@import '~antd/dist/antd.css';

.container-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 520px;
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
}

.form {
    width: 60%;
}

.hand {
    padding: 0px;
    margin: 0px;
    width: 420px;
}

.hand > img {
    width: 420px;
    height: auto;
    position: absolute;
    bottom: 0px;
}

.container-login > h1 {
    color: #000;
}

.key-name {
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .container-login {
        height: 100vh;
        width: 100vw;
        border-radius: 0px
    }

    .hand {
        display: none;
    }
}
