.containerAbout {
    grid-area: sub / sub / content / content;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
}

.containerAbout > h1, h2 {
    font-weight: bold;
}

.licenses {
    display: inline-block;
    height: 380px;
    overflow: auto;
    text-align: justify;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}