.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.85;
    background-color: #fff;
    margin-left: 8px;
    border-radius: 0 15px 15px 0;
}

.container-home > h1 {
    color: #000;
    font-size: 48px;
}

.info-home {
    color: #000;
    width: 60%;
}

.learn-more-home {
    padding-top: 50px;
    justify-content: center;
    color: #000;
}

.learn-more-home > a {
    color: #e95c59
}

@media (max-width: 1200px) {
    .container-home {
        border-radius: 0px;
    }
}