@import '../../assets/fonts.css';
@import '~antd/dist/antd.css';

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    word-wrap: normal;
    white-space: normal;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #F9C5BB;
    place-items: center;
    overflow: hidden;
}

body > div {
    height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-areas: "menu sub content" "status status status";
    grid-template-rows: 1fr 2rem;
    grid-template-columns: 20rem 20rem 1fr;
}

@media (max-width: 65rem) {
    body > div {
        grid-template-columns: 4rem 20rem 1fr;
    }
}