.containerAdmin {
    grid-area: sub / sub / content / content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    flex: 0.85;
}

.adminHeader {
    padding: 20px;
    display: flex;
    background-color: #f4f7f9;
    color: #000;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #dee8ee;
}

.adminHeader > h1 {
    font-weight: bold;
}

