.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.15;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

.header {
    display: flex;
    align-items: center;
    flex: 0.05;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px 0 0 0;
}

.options {
    flex: 0.8;
    color: #d7d8da;
    font-weight: bold;
    padding: 20px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.logout {
    display: flex;
    flex: 0.1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: '#203864';
    margin: 15px;
}
