.settings-bar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: #f4f7f9;
    margin-left: 8px;
    font-size: 16px;
}

.settings-bar-header {
    display: flex;
    align-items: center;
    margin: 0px 20px 10px 20px;
    height: 90px;
    border-bottom: 2px solid #dee8ee;
    font-size: 22px;
}

.settings-bar-pages {
    flex: 1;
    background-color: #f4f7f9;
    overflow: auto;
    border-radius: 0 0 0 15px;
}

.settings-page {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #dee8ee;
    color: #000;
    margin: 20px;
}