.contactsBar {
    grid-area: sub;
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: #f4f7f9;
}

.search {
    display: flex;
    align-items: center;
    margin: 0px 20px 10px 20px;
    height: 90px;
    border-bottom: 2px solid #dee8ee;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #dfe0e2;
    height: 36px;
    width: 100%;
}

.searchContainer input[class*=ant-input], .searchContainer  span[class*=ant-input-group-addon], .searchContainer button[class*=ant-btn] {
    background: none;
    border: none;
}

.searchContainer > input {
    border: none;
    margin-right: 10px;
}

.chats {
    flex: 1;
    background-color: #f4f7f9;
    overflow: auto;
    border-radius: 0 0 0 15px;
}

::placeholder {
    color: #dfe0e2;
}