.messages {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex: 0.55;
    overflow: auto;
}

.messagesHeader {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #f4f7f9;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    height: 90px;
    border-bottom: 2px solid #dee8ee;
}

.messagesHeaderInfo {
    flex: 1;
    padding-left: 20px;
}

.messagesBody {
    flex: 1;
    padding: 30px;
    overflow: auto;
}

.messagesFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    border-top: 2px solid #dee8ee;
    margin: 20px 40px 20px 40px;
}

.messagesFooter > form {
    flex: 1;
    display: flex;
    margin-left: 15px;
}

.messagesFooter > form > input {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
}

.messagesFooter > form > button {
    display: none
}

.messagesNoChat {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.messagesNoChat > h1 {
    color: #000;
}

@media (max-width: 1200px) {
    .messages, .messagesFooter, .messagesHeader {
        border-radius: 0px;
    }
}