.messageBubble {
    position: relative;
    font-size: 15px;
    padding: 10px;
    background-color: #f4f7f9;
    border: 2px solid #dfe0e2;
    border-radius: 15px;
    width: fit-content;
    max-width: 80%;
    margin-bottom: 25px;
    color: #000
}

.messageName {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: x-small;
    color: #000;
}

.messageSender {
    margin-left: auto;
    background-color: #25A9E1;
    color: #fff;
    border: none;
}

.messageTimestamp {
    margin-left: 10px;
    font-size: xx-small;
}