.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: #203864;
    border-radius: 5px 0 0 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px 0 0 0;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    margin: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    height: 35px;
    width: 100%;
}

.search-container > input {
    border: none;
    margin-left: 10px;
}

.chats {
    flex: 1;
    background-color: #00b0ee;
    overflow: auto;
    border-radius: 0 0 0 5px;
}