.searchResultContainer {
    border-radius: 15px;
    border: 2px solid #dfe0e2;
    flex: 0 30%;
    height: 200px;
    width: 270px;
    margin-bottom: 6%;
}

.searchResultHeader {
    display: flex;
    align-items: center;
    flex: 0.3;
    font-size: 22px;
    padding: 15px;
    height: 100px;
}

.searchResultBody {
    flex: 0.5;
    padding: 0px 15px 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchResultFooter {
    display: flex;
    border-top: 2px solid #dfe0e2;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.searchResultButton {
    display: flex;
    height: 47px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

/* .searchResultButton:nth-child(2n + 1) {
    border-right: 2px solid #dfe0e2;
} */