.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.85;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 0 5px 5px 0;
}

.search-input {
    display: flex;
    padding-top: 30px;
    border-bottom: 3px solid #dfe0e2;
}

.results {
    flex: 1;
    overflow: auto;
}

::placeholder {
    color: #dfe0e2;
}